# Aim-Gold Root Environment Variables Template

# Backend Configuration
PORT=9000
MONGO_URI=mongodb://localhost:27017/aim-gold
NODE_ENV=production

# Frontend Configuration
NEXT_PUBLIC_BASE_URL=http://localhost:9000
INTERNAL_API_URL=http://localhost:9000
